.container-back {
    width: 20vw;
    height: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 2%;
}

.icon-back {
    height: 20px;
    width: 20px;
    margin-right: 4%;
}

.container-option {
    margin: 2% 4%;
    padding: 4px 8px;
    height: 80vh;
}

.title-option { 
    text-align: center;
    color: #22222269;
}

.options-table {
    display: grid;
    justify-content: space-between;
    width: 40.8vw;
    margin-top: 4%;
    margin-left: 28%;
    margin-right: 28%;
    grid-template-columns: 20vw 20vw;
}
    
.option-button {
    font-size: 14pt;
    border: 1px solid #07f149;
    background-color: white;
    width: 20vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    color: #07f149;
    text-align: center;
    align-items: center;
    transition: 120ms;
    margin-top: 2%;
}

.option-button:hover {
    font-size: 14pt;
    border: 1px solid white;
    background-color: #07f149;
    width: 20vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    color: white;
    text-align: center;
    align-items: center;
    transition: 120ms;
}